extends ../layout
block content
  .container.text-center
    h4#one freeCodeCamp 中国大事件
    .big-break
    .row
      .col-md-2.col-sm-4.col-xs-6
        .vertical-center
          .rectangle.bg-red
            span 2016.4.7
          p.font-size-10 北京
          p.font-size-10 中文社区1.0上线
      .col-md-2.col-sm-4.col-xs-6
        .vertical-center
          .rectangle.bg-black
            span 2017.1.1
          p.font-size-10 苏州
          p.font-size-10 举办首届年会
      .col-md-2.col-sm-4.col-xs-6
        .vertical-center
          .rectangle.bg-orange
            span 2017.10.18
          p.font-size-10 深圳
          p.font-size-10 入选《公益白皮书》
      .col-md-2.col-sm-4.col-xs-6
        .vertical-center
          .rectangle.bg-light-blue
            span 2018.1.1
          p.font-size-10 成都
          p.font-size-10 举办第二届年会
      .col-md-2.col-sm-4.col-xs-6
        .vertical-center
          .rectangle.bg-deep-blue
            span 2018.5.24
          p.font-size-10 杭州
          p.font-size-10 中国志愿者团聚
      .col-md-2.col-sm-4.col-xs-6
        .vertical-center
          .rectangle.bg-light-green
            span 2018.9.15
          p.font-size-10 中国
          p.font-size-10 中文社区2.0全新上线
    .spacer
    hr
    .spacer
    h4#online freeCodeCamp 中国线上社区
    .big-break
    .row
      .col-md-2.col-sm-4.col-xs-6
        a(href="https://gitter.im/FreeCodeCamp/chinese")
          img(src='http://cdn.freecodecamp.cn/community-icon-Gitter.png' alt="Gitter 聊天室")
        p Gitter
      .col-md-2.col-sm-4.col-xs-6
        a(href="https://github.com/freecodecamp-china")
          img(src='http://cdn.freecodecamp.cn/community-icon-Github.png' alt="Github 仓库")
        p Github
      .col-md-2.col-sm-4.col-xs-6
        a(href="https://www.jianshu.com/search?q=freecodecamp&page=1&type=note")
          img.width-70.img-circle(src='http://cdn.freecodecamp.cn/jianshu.png' alt="fcc 简书")
        p 简书
      .col-md-2.col-sm-4.col-xs-6
        a(href="https://www.zhihu.com/search?type=content&q=freecodecamp")
          img(src='http://cdn.freecodecamp.cn/community-icon-zhihu.png' alt="fcc 知乎")
        p 知乎
      .col-md-2.col-sm-4.col-xs-6
        a(href="https://juejin.im/search?query=freecodecamp")
          img.width-70(src="http://cdn.freecodecamp.cn/juejin.svg", alt="fcc 掘金")
        p 掘金
      .col-md-2.col-sm-4.col-xs-6
        a(href="https://mp.weixin.qq.com/s/nnr6FSlsCC-uTv4e5NwZZQ")
          img.width-70(src="http://cdn.freecodecamp.cn/wechat.svg", alt="微信公众号")
        p 微信公众号
    .spacer
    hr
    .spacer
    h4#city freeCodeCamp 中国线下社区
    .big-break
    .row
      .col-md-3.col-sm-6
        a(href="")
        img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/北京@2x.png", alt="北京社区")
        p 北京社区
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=chengdu")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/成都@2x.png", alt="成都社区")
        p 成都社区
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=chongqing")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/重庆@2x.png", alt="重庆社区")
        p 重庆社区
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=guangzhou")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/广州@2x.png", alt="广州社区")
        p 广州社区
    .row
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=hangzhou")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/杭州@2x.png", alt="杭州社区")
        p 杭州社区
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=shanghai")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/上海@2x.png", alt="上海社区")
        p 上海社区
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=shenzhen")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/深圳@2x.png", alt="深圳社区")
        p 深圳社区
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=tianjin")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/天津@2x.png", alt="天津社区")
        p 天津社区
    .row
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=wuhan")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/武汉@2x.png", alt="武汉社区")
        p 武汉社区
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=xian")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/西安@2x.png", alt="西安社区")
        p 西安社区
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=zhengzhou", alt="郑州社区")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/郑州@2x.png", alt="郑州社区")
        p 郑州社区
      .col-md-3.col-sm-6
        a(href="https://city.freecodecamp.one?city=jinan")
          img.community-cover.img-reponsive(src="http://cdn.freecodecamp.cn/济南@2x.png", alt="济南社区")
        p 济南社区
    .spacer
    include ../homePartials/scripts


