extends ../layout
block content
  .container.text-center
    h4 freeCodeCamp 中国志愿者（排名不分先后）
    .big-break
    .row
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/胡落阳.jpg", alt="胡落阳")
        p 胡落阳
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/曹广宏.jpg", alt="曹广宏")
        p 曹广宏
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/陈钦潮.jpg", alt="陈钦潮")
        p 陈钦潮
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/董凯旋.jpg", alt="董凯旋")
        p 董凯旋
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/黄金良.jpg", alt="黄金良")
        p 黄金良
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/琚致远.jpg", alt="琚致远")
        p 琚致远
    .row
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/赖绍良.jpg", alt="赖绍良")
        p 赖绍良
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/练智雯.jpg", alt="练智雯")
        p 练智雯
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/汤伟.jpg", alt="汤伟")
        p 汤伟
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/刘于瑜.jpg", alt="刘于瑜")
        p 刘于瑜
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/柳星.jpg", alt="柳星")
        p 柳星
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/钱杰.jpg", alt="钱杰")
        p 钱杰
    .row
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/唐小芳.jpg", alt="唐小芳")
        p 唐小芳
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/王川.jpg", alt="王川")
        p 王川
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/伍裕平.jpg", alt="伍裕平")
        p 伍裕平
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/薛开麒.jpg", alt="薛开麒")
        p 薛开麒
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/叶新雷.jpg", alt="叶新雷")
        p 叶新雷
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/游首杰.jpg", alt="游首杰")
        p 游首杰   
    .row
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/余琦.jpg", alt="余琦")
        p 余琦
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/袁民成.jpg", alt="袁民成")
        p 袁民成
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/张传峰.jpg", alt="张传峰")
        p 张传峰
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/张峰涛.jpg", alt="张峰涛")
        p 张峰涛
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/崔苹苹.jpg", alt="崔苹苹")
        p 崔苹苹
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/陈志成.jpg", alt="陈志成")
        p 陈志成 
    .row
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/曹春壮.jpg", alt="曹春壮")
        p 曹春壮
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/姜玉珍.jpg", alt="姜玉珍")
        p 姜玉珍
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/王圣松.jpg", alt="王圣松")
        p 王圣松
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/魏朝欣.jpg", alt="魏朝欣")
        p 魏朝欣
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/伊丽娜.jpg", alt="伊丽娜")
        p 伊丽娜
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/胡可.jpg", alt="胡可")
        p 胡可
    .row
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/于航.jpg", alt="于航")
        p 于航
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/陈杰.jpg", alt="陈杰")
        p 陈杰
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/梁彩仪.jpg", alt="梁彩仪")
        p 梁彩仪
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/吴泽晴.jpg", alt="吴泽晴")
        p 吴泽晴
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/刘柱.jpg", alt="刘柱")
        p 刘柱
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/叶昕祎.jpg", alt="叶昕祎")
        p 叶昕祎
    .row
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/韩亦乐.jpg", alt="韩亦乐")
        p 韩亦乐
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/赵廷瑞.jpg", alt="赵廷瑞")
        p 赵廷瑞
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/李序锴.jpg", alt="李序锴")
        p 李序锴
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/傅小罗.jpg", alt="傅小罗")
        p 傅小罗
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/余博伦.jpg", alt="余博伦")
        p 余博伦
      .col-md-2
        img.img-responsive.img-circle(src="https://ofa83l6ao.qnssl.com/阚自强.jpg", alt="阚自强")
        p 阚自强


    .spacer 
    include ../homePartials/scripts
    