meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title #{title} | freeCodeCamp 中文社区
link(rel='canonical', href='https://www.freecodecamp.one')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='csrf-token', content=_csrf)
meta(name="description", content="免费在线学编程，课程涵盖：HTML5、CSS3、JS、Bootstrap、jQuery、Sass、React、Redux、Node、Npm、MongoDB，还有实战项目和面试攻略，助你找到称心如意的工作。")
meta(name="author", content="FCC中文社区核心团队")
link(rel="favicon", href="/favicon.ico")
link(rel='shortcut icon', href="/favicon.ico")
