nav.navbar.navbar-default.navbar-static-top.nav-height

    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text 菜单
        a.navbar-brand(href='/')
            img.img-responsive.nav-logo(src='/images/freecodecamp_logo.svg', alt='freeCodeCamp logo')
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown
            li
                a(href='https://learn.freecodecamp.one' target='_blank' rel='noopener') 课程
            li
                a(href='https://forum.freecodecamp.one', target='_blank' rel='noopener') 论坛
            li
                a(href='/community', rel='noopener') 社区
            li
                a(href='/volunteer', rel='noopener') 志愿者
            if !user
                li
                    a(href='/account-login') 登录
            else
                li
                  a(href='/settings') 设置
