extends layout
block content
  .text-center
    .row
      h1.landing-heading=title
    .big-break
    include homePartials/activeUsersView
    .big-break
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        a(href="/curriculum" target="_blank")
          | 2018年课程全面升级，欢迎挑战！
    .big-break
    include homePartials/quote
    .big-break
    .big-break
    include homePartials/stats
    .big-break
    .big-break
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        a.btn.btn-cta.btn-block.btn-lg.btn-primary(href="/challenges/current-challenge")
          | 回到你当前正在挑战的关卡
    .big-break
    .big-break
    include homePartials/scripts
