extends ../layout
block content
  .text-center
    h2 账户登录
    .big-break
    a.btn.btn-primary.btn-lg.btn-block.btn-social.btn-social-github(href="/auth/github")
      .fab.fa-github
      span GitHub 登录
    .big-break
      span （请务必在 GitHub profile 中公开邮箱，否则登录会失败）
    //- .big-break
    //- a.btn.btn-primary.btn-lg.btn-block.btn-social.btn-social-google(href="/auth/google")
    //-   .fab.fa-google
    //-   span Google 登录

    .big-break
    a(href="https://learn.freecodecamp.one" target='_blank') 没有 GitHub 账号，也可以学习，只是不能保存进度。
    .big-break
    .col-xs-12
      p 当你登录时，表示你已经阅读并同意 freeCodeCamp.one 的
        a(href="/terms")  服务条款 
        span 和
        a(href="/privacy")  隐私策略
        span 。
    //- a.btn.btn-lg.btn-block.btn-social.btn-github(href="/auth/wechat")
    //-   img(src="/images/wechat.svg")
    //-   span 微信登录
